<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eunio-Aware</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>

<body>
    <section class="hero is-fullheight is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <img src="33333.png" alt="businessImage" class="img-fluid" width="400px">
                    </div>
                    <div class="column">
                        <h2 class="title">
                            Put your 'sole' into your business
                        </h2>
                        <h3 class="subtitle">
                            Business advice at your fingertips. Innovative, efficient, accurate traffic data,
                            <i>your</i> way.
                        </h3>
                        <h1>Hi <%= name %></h1>
                        <form action="/api/logout?_method=DELETE" method="POST">
                            <button class="button is-info is-rounded nextpage" type="submit">Log Out</button>
                        </form>
                        <button class="button is-info is-rounded nextpage">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/startpage.js"></script>

</html>
