<h1>Hi <%= name %></h1>
<form action="/api/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<form action="/api/landingPage" method="POST">
    <button type="submit">Get Started</button>
</form>
