<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eunio-Aware</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>

<body>
    <section class="hero is-fullheight is-primary">
        <div class="hero-body">
            <div class="container01">
                <div class="columns is-vcentered">
                    <div class="column">
                        <img src="eunio-aware transparentWebsite.png" alt="businessImage" class="img-fluid" width="400px">
                    </div>
                    <div class="column">
                        <h2 class="title">
                            Software Companion for your Brain
                        </h2>
                        <h3 class="subtitle">
                            Eliminating stigma and acknowledging the continuum of mental health along with the benefits of well-being promotion
                        </h3>
                        
                        <h1>Hi <%= name %></h1>
                        <h1><%= email %></h1>
                        <form action="/api/logout?_method=DELETE" method="POST">
                            <button class="button is-info is-rounded" type="submit">Log Out</button>
                        </form>
                        
                        <!-- <form action="/api/landingPage" method="POST">
                            <button type="submit">Get Started</button>
                        </form> -->

                        <button class="button is-info is-rounded nextpage">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/startpage.js"></script>
</body>

</html>
