<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered"> 
        <div class="column">
      <img src="33333.png" alt="businessImage" class="img-fluid" width="400px">
      </div>
      <div class="column">
      <h2 class="title">
        Put your 'sole' into your business
      </h2>
      <h3 class="subtitle">
        Business advice at your fingertips. Innovative, efficient, accurate traffic data, <i>your</i> way.
      </h3>
      <button class="button is-info is-rounded nextpage">Begin today</button>
      </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/startpage.js"></script>