body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#message-container {
  width: 80%;
  max-width: 1200px;
}

#message-container div {
  background-color: #cccccc;
  padding: 5px;
  font-size: 20px;
}

#message-container div:nth-child(2n) {
  background-color: #ffffff;
  padding: 5px;
}

#message-input {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
}