body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  #message-container {
    width: 80%;
    max-width: 1200px;
  }
  
  #message-container div {
    background-color: #cccccc;
    padding: 5px;
  }
  
  #message-container div:nth-child(2n) {
    background-color: #ffffff;
    padding: 5px;
  }
  